.field{
    margin:30px;
    text-align: center;
    background-color: #a233;
    border-radius: 10px;
}
.fields{
    background-color: #a233;
    text-align: center;
    align-self: center;
    margin:10% 30%;
    border-radius: 20px;
    border:1px solid white;
 
}
.fields a{
    width: 300px;
    text-align: center;
    margin:0% 25%;
    background-color: #a233 ;
    display: block;
    border-radius: 6px;
}

.inputfiled {
    outline:none;
    border:1px solid black;
    color:white;
    margin:20px;    
    background-color:rgba(0, 0, 0, 0.909);
    height:30px;
    border-radius: 2px;
    width:65%;
    font-size:20px;
  
}
label{
    background-color: #a233;
}
.btn{
    margin-bottom: 10px;
}